# Block 1: Importing Libraries and Loading Data

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np

# Loading the dataset
df = pd.read_csv("US_Accidents_March23.csv")

# Debug: Displaying the first 5 rows to verify correct loading
print("First 5 rows of the DataFrame:")
df.head(5)

First 5 rows of the DataFrame:

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

# Block 2: Basic Data Information

In [2]:
# Displaying basic information about the dataset
print("Basic Information about the DataFrame:")
df.info()

Basic Information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 2.0+ GB

# Block 3: Calculating and Displaying Missing Value Percentages

In [3]:
# Calculating the percentage of missing values for each column
missing_df = df.isna().sum() * 100 / len(df)

# Creating and displaying a DataFrame with column names and their corresponding percentage of missing values
missing_percentage_df = pd.DataFrame({'column_name': df.columns, 'percent_missing': missing_df.values})
print("Percentage of missing values per column:")
missing_percentage_df

Percentage of missing values per column:

              column_name  percent_missing
0                      ID         0.000000
1                  Source         0.000000
2                Severity         0.000000
3              Start_Time         0.000000
4                End_Time         0.000000
5               Start_Lat         0.000000
6               Start_Lng         0.000000
7                 End_Lat        44.029355
8                 End_Lng        44.029355
9            Distance(mi)         0.000000
10            Description         0.000065
11                 Street         0.140637
12                   City         0.003274
13                 County         0.000000
14                  State         0.000000
15                Zipcode         0.024779
16                Country         0.000000
17               Timezone         0.101030
18           Airport_Code         0.292881
19      Weather_Timestamp         1.555666
20         Temperature(F)         2.120143
21          Wind_Chill(F)        25.865904
22            Humidity(%)         2.253301
23           Pressure(in)         1.820288
24         Visibility(mi)         2.291524
25         Wind_Direction         2.267043
26        Wind_Speed(mph)         7.391355
27      Precipitation(in)        28.512858
28      Weather_Condition         2.244438
29                Amenity         0.000000
30                   Bump         0.000000
31               Crossing         0.000000
32               Give_Way         0.000000
33               Junction         0.000000
34                No_Exit         0.000000
35                Railway         0.000000
36             Roundabout         0.000000
37                Station         0.000000
38                   Stop         0.000000
39        Traffic_Calming         0.000000
40         Traffic_Signal         0.000000
41           Turning_Loop         0.000000
42         Sunrise_Sunset         0.300787
43         Civil_Twilight         0.300787
44      Nautical_Twilight         0.300787
45  Astronomical_Twilight         0.300787

# Block 4: Data Cleaning - Dropping and Filling Missing Values

In [4]:
# Dropping specific columns with high missing values
df.drop(["End_Lat", "End_Lng"], axis=1, inplace=True)

# Filling missing values in 'Wind_Chill(F)' and 'Precipitation(in)' with 0
df["Wind_Chill(F)"] = df["Wind_Chill(F)"].fillna(0)
df["Precipitation(in)"] = df["Precipitation(in)"].fillna(0)

# Dropping rows with any remaining missing values
df.dropna(inplace=True)

# Debug: Confirming the drop and fill operations
print("DataFrame shape after dropping columns and rows with missing values:", df.shape)

DataFrame shape after dropping columns and rows with missing values: (7051556, 44)

# Block 5: Converting Columns to DateTime Format

In [5]:
# Converting 'Start_Time' and 'End_Time' columns to datetime format
df.Start_Time = pd.to_datetime(df.Start_Time, format='mixed')
df.End_Time = pd.to_datetime(df.End_Time, format='mixed')

# Debug: Checking the data types to confirm conversion
print("Data types after datetime conversion:")
df[['Start_Time', 'End_Time']].dtypes

Data types after datetime conversion:

Start_Time    datetime64[ns]
End_Time      datetime64[ns]
dtype: object

# Block 6: Creating City Code Mapping

In [6]:
# Identifying the top 10 cities by occurrence
top_10_cities = df.City.value_counts().head(10).index.tolist()

# Mapping each of the top 10 cities to a unique numeric code
city_mapping = {city: i+1 for i, city in enumerate(top_10_cities)}

# Applying the mapping to the 'City' column to create a new 'City_Code' column
df['City_Code'] = df.City.map(city_mapping)
df.City_Code.fillna(11, inplace=True)
df.City_Code = df.City_Code.astype(int)

# Debug: Displaying the city mapping and the first 5 rows of the new 'City_Code' column
print("City mapping:", city_mapping)
print("First 5 rows with new 'City_Code' column:")
df[['City', 'City_Code']].head(5)

City mapping: {'Miami': 1, 'Houston': 2, 'Los Angeles': 3, 'Charlotte': 4, 'Dallas': 5, 'Orlando': 6, 'Austin': 7, 'Raleigh': 8, 'Nashville': 9, 'Baton Rouge': 10}
First 5 rows with new 'City_Code' column:

           City  City_Code
2  Williamsburg         11
3        Dayton         11
4        Dayton         11
5   Westerville         11
6        Dayton         11

# Block 7: Creating Timezone Code Mapping

In [7]:
# Identifying unique timezones and assigning each a unique numeric code
timezones = df.Timezone.value_counts().index.tolist()
timezone_mapping = {timezone: i+1 for i, timezone in enumerate(timezones)}

# Applying the mapping to the 'Timezone' column to create a new 'Timezone_Code' column
df['Timezone_Code'] = df.Timezone.map(timezone_mapping)
df.Timezone_Code.fillna(0, inplace=True)
df.Timezone_Code = df.Timezone_Code.astype(int)

# Debug: Displaying the timezone mapping and the first 5 rows of the new 'Timezone_Code' column
print("Timezone mapping:", timezone_mapping)
print("First 5 rows with new 'Timezone_Code' column:")
df[['Timezone', 'Timezone_Code']].head(5)

Timezone mapping: {'US/Eastern': 1, 'US/Pacific': 2, 'US/Central': 3, 'US/Mountain': 4}
First 5 rows with new 'Timezone_Code' column:

     Timezone  Timezone_Code
2  US/Eastern              1
3  US/Eastern              1
4  US/Eastern              1
5  US/Eastern              1
6  US/Eastern              1

# Block 8: Categorizing Years Based on Pandemic Phases

In [8]:
# Defining conditions for categorizing years based on pandemic phases
conditions = [
    df.Start_Time.dt.year <= 2019,  # Pre-pandemic
    df.Start_Time.dt.year.between(2020, 2021),  # Pandemic
    df.Start_Time.dt.year >= 2022  # Post-pandemic
]
choices = [1, 2, 3]

# Creating a new column 'Year_Category' based on the defined conditions
df['Year_Category'] = np.select(conditions, choices)

# Debug: Displaying the first 5 rows of the new 'Year_Category' column
print("First 5 rows with new 'Year_Category' column:")
df[['Start_Time', 'Year_Category']].head(5)

First 5 rows with new 'Year_Category' column:

           Start_Time  Year_Category
2 2016-02-08 06:49:27              1
3 2016-02-08 07:23:34              1
4 2016-02-08 07:39:07              1
5 2016-02-08 07:44:26              1
6 2016-02-08 07:59:35              1

# Block 9: Creating Month Code Mapping

In [9]:
# Getting a sorted list of months from the 'Start_Time' column
months = df.Start_Time.dt.month.value_counts().sort_index().index.tolist()

# Mapping each month to a unique numeric code
month_mapping = {month: i+1 for i, month in enumerate(months)}

# Applying the mapping to create a new 'Month_Code' column
df['Month_Code'] = df.Start_Time.dt.month.map(month_mapping)
df.Month_Code.fillna(0, inplace=True)
df.Month_Code = df.Month_Code.astype(int)

# Debug: Displaying the month mapping and the first 5 rows of the new 'Month_Code' column
print("Month mapping:", month_mapping)
print("First 5 rows with new 'Month_Code' column:")
df[['Start_Time', 'Month_Code']].head(5)

Month mapping: {1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12}
First 5 rows with new 'Month_Code' column:

           Start_Time  Month_Code
2 2016-02-08 06:49:27           2
3 2016-02-08 07:23:34           2
4 2016-02-08 07:39:07           2
5 2016-02-08 07:44:26           2
6 2016-02-08 07:59:35           2

# Block 10: Categorizing Days as Weekdays or Weekends

In [10]:
# Creating a new column 'Weekday_Weekend' with 1 for weekdays and 2 for weekends
df['Weekday_Weekend'] = df.Start_Time.dt.dayofweek.apply(lambda x: 1 if x < 5 else 2)

# Debug: Displaying the first 5 rows of the new 'Weekday_Weekend' column
print("First 5 rows with new 'Weekday_Weekend' column:")
df[['Start_Time', 'Weekday_Weekend']].head(5)

First 5 rows with new 'Weekday_Weekend' column:

           Start_Time  Weekday_Weekend
2 2016-02-08 06:49:27                1
3 2016-02-08 07:23:34                1
4 2016-02-08 07:39:07                1
5 2016-02-08 07:44:26                1
6 2016-02-08 07:59:35                1

# Block 11: Extracting Hour from Start Time

In [11]:
# Extracting the hour from the 'Start_Time' column and creating a new 'Hour' column
df['Hour'] = df.Start_Time.dt.hour

# Debug: Displaying the first 5 rows of the new 'Hour' column
print("First 5 rows with new 'Hour' column:")
df[['Start_Time', 'Hour']].head(5)

First 5 rows with new 'Hour' column:

           Start_Time  Hour
2 2016-02-08 06:49:27     6
3 2016-02-08 07:23:34     7
4 2016-02-08 07:39:07     7
5 2016-02-08 07:44:26     7
6 2016-02-08 07:59:35     7

# Block 12: Converting Junction, Crossing, and Traffic Signal to Integer

In [12]:
# Converting the 'Junction', 'Crossing', and 'Traffic_Signal' columns to integer type
df.Junction = df.Junction.astype(int)
df.Crossing = df.Crossing.astype(int)
df.Traffic_Signal = df.Traffic_Signal.astype(int)

# Debug: Checking the data types to confirm conversion
print("Data types for 'Junction', 'Crossing', and 'Traffic_Signal':")
print(df[['Junction', 'Crossing', 'Traffic_Signal']].dtypes)

Data types for 'Junction', 'Crossing', and 'Traffic_Signal':
Junction          int64
Crossing          int64
Traffic_Signal    int64
dtype: object

# Block 13: Creating Weather Condition Code Mapping

In [13]:
# Identifying the top 10 weather conditions by occurrence
top_10_weather_conditions = df.Weather_Condition.value_counts().head(10).index.tolist()

# Mapping each of the top 10 weather conditions to a unique numeric code
weather_mapping = {weather: i+1 for i, weather in enumerate(top_10_weather_conditions)}

# Applying the mapping to the 'Weather_Condition' column to create a new 'Weather_Code' column
df['Weather_Code'] = df.Weather_Condition.map(weather_mapping)
df.Weather_Code.fillna(11, inplace=True)
df.Weather_Code = df.Weather_Code.astype(int)

# Debug: Displaying the weather condition mapping and the first 5 rows of the new 'Weather_Code' column
print("Weather condition mapping:", weather_mapping)
print("First 5 rows with new 'Weather_Code' column:")
df[['Weather_Condition', 'Weather_Code']].head(5)

Weather condition mapping: {'Fair': 1, 'Mostly Cloudy': 2, 'Cloudy': 3, 'Partly Cloudy': 4, 'Clear': 5, 'Light Rain': 6, 'Overcast': 7, 'Scattered Clouds': 8, 'Light Snow': 9, 'Fog': 10}
First 5 rows with new 'Weather_Code' column:

  Weather_Condition  Weather_Code
2          Overcast             7
3     Mostly Cloudy             2
4     Mostly Cloudy             2
5        Light Rain             6
6          Overcast             7

# Block 14: Creating Twilight Code Columns

In [14]:
# Creating new columns based on 'Nautical_Twilight', 'Astronomical_Twilight', and 'Civil_Twilight'
df["Nautical_Twilight_Code"] = df.Nautical_Twilight.apply(
    lambda x: 1 if x == "Day" else 0
)
df["Astronomical_Twilight_Code"] = df.Astronomical_Twilight.apply(
    lambda x: 1 if x == "Day" else 0
)
df["Civil_Twilight_Code"] = df.Civil_Twilight.apply(lambda x: 1 if x == "Day" else 0)

# Debug: Displaying the first 5 rows of the new twilight code columns
print("First 5 rows with new twilight code columns:")
df[
    [
        "Nautical_Twilight",
        "Nautical_Twilight_Code",
        "Astronomical_Twilight",
        "Astronomical_Twilight_Code",
        "Civil_Twilight",
        "Civil_Twilight_Code",
    ]
].head(5)

First 5 rows with new twilight code columns:

,Nautical_Twilight,Nautical_Twilight_Code,Astronomical_Twilight,Astronomical_Twilight_Code,Civil_Twilight,Civil_Twilight_Code
2,Day,1,Day,1,Night,0
3,Day,1,Day,1,Day,1
4,Day,1,Day,1,Day,1
5,Day,1,Day,1,Day,1
6,Day,1,Day,1,Day,1