In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("US_Accidents_March23.csv")

In [18]:
df.head(5)

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 2.0+ GB

In [20]:
missing_df = df.isna().sum() * 100 / len(df)

In [21]:
pd.DataFrame({'column_name': df.columns, 'percent_missing': missing_df.values})

              column_name  percent_missing
0                      ID         0.000000
1                  Source         0.000000
2                Severity         0.000000
3              Start_Time         0.000000
4                End_Time         0.000000
5               Start_Lat         0.000000
6               Start_Lng         0.000000
7                 End_Lat        44.029355
8                 End_Lng        44.029355
9            Distance(mi)         0.000000
10            Description         0.000065
11                 Street         0.140637
12                   City         0.003274
13                 County         0.000000
14                  State         0.000000
15                Zipcode         0.024779
16                Country         0.000000
17               Timezone         0.101030
18           Airport_Code         0.292881
19      Weather_Timestamp         1.555666
20         Temperature(F)         2.120143
21          Wind_Chill(F)        25.865904
22            Humidity(%)         2.253301
23           Pressure(in)         1.820288
24         Visibility(mi)         2.291524
25         Wind_Direction         2.267043
26        Wind_Speed(mph)         7.391355
27      Precipitation(in)        28.512858
28      Weather_Condition         2.244438
29                Amenity         0.000000
30                   Bump         0.000000
31               Crossing         0.000000
32               Give_Way         0.000000
33               Junction         0.000000
34                No_Exit         0.000000
35                Railway         0.000000
36             Roundabout         0.000000
37                Station         0.000000
38                   Stop         0.000000
39        Traffic_Calming         0.000000
40         Traffic_Signal         0.000000
41           Turning_Loop         0.000000
42         Sunrise_Sunset         0.300787
43         Civil_Twilight         0.300787
44      Nautical_Twilight         0.300787
45  Astronomical_Twilight         0.300787

In [22]:
df.drop(["End_Lat", "End_Lng"], axis=1, inplace=True)

In [23]:
df["Wind_Chill(F)"] = df["Wind_Chill(F)"].fillna(0)
df["Precipitation(in)"] = df["Precipitation(in)"].fillna(0)

In [24]:
df.dropna(inplace=True)

In [25]:
# convert the Start_Time & End_Time Variable into Datetime Feature
df.Start_Time = pd.to_datetime(df.Start_Time, format='mixed')
df.End_Time = pd.to_datetime(df.End_Time, format='mixed')

In [ ]:
# dependent variable is basically levels : 4 levels
# First variable : City
# city variable will be converted into these variables : 1. Cali, 2. FL 3. Oregon, 4. Texas,  5. New York, 6. Minnesota, 7. virginia, 8. North Carolina,9. Pennsylvania,10. Illinois,11.other
# Timezone ariable will be converted into these variables : 1. US Easter, 2. FL 3. Oregon, 4. Texas,  5. New York, 6. Minnesota, 7. vir

###### add above